NeSI_LaTeX_Template.pdf
NeSI_LaTeX_Template.aux
NeSI_LaTeX_Template.log
NeSI_LaTeX_Template.nav
NeSI_LaTeX_Template.out
NeSI_LaTeX_Template.snm
NeSI_LaTeX_Template.synctex.gz
NeSI_LaTeX_Template.toc
NeSI_LaTeX_Template.vrb
